<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word Game</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Mystery Word</h1>

    <h3>{{randomWord}}</h3>

    <h2>{{message}}</h2>

    <form class="replay" action="/" method="POST">
        <button type="submit" name="play_again"><a href="/">Play Again</a></button>
    </form>

  </body>
</html>
